body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
}

.button {
  cursor: pointer;
}

.button.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.3 !important;
}

.text-button {
  border-radius: 4px;
  display: inline-block;
  font-size: small;
  font-weight: 500;
  padding: 6px 20px;
  text-transform: uppercase;
}

.text-button:active,
.text-button:focus,
.text-button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.text-button:active:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.icon-button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  border: 1px solid transparent;
  height: 48px;
  opacity: 0.55;
  width: 48px;
}

.icon-button:hover {
  opacity: 0.87;
}

.icon-button:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.icon-button.icon-button-small {
  background-size: 18px 18px;
  height: 24px;
  width: 24px;
}

.icon-button.close-button {
  background-image: url('../images/close.png');
}
